@import "./variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// * {
//   outline: solid 1px red;
// }

body {
  overflow-x: hidden;
}

.gradient-color {
  background: rgb(2, 89, 81);
  background: linear-gradient(
    90deg,
    rgba(2, 89, 81, 1) 0%,
    rgba(2, 115, 94, 1) 100%
  );
  border: none;
}

.active {
  font-weight: bold;
}

.projects-active {
  padding-bottom: 5px;
  border-bottom: 5px solid $light;
}

h1 {
  font-size: 55px;
}

h5 {
  font-size: 25px;
}

h2 {
  font-size: 40px;
}

.card {
  border: none;
  border-radius: 1rem;
}

textarea {
  resize: none;
  &:focus-within {
    outline: none;
  }
}

input {
  border: none;

  &:focus-within {
    outline: none;
  }
}

@media (min-width: 992px) {
  form {
    width: 50%;
  }
}

@media (max-width: 992px) {
  #nav-menu {
    left: 100%;
    position: fixed;
    transition: left ease-in-out 0.2s;
    background: $secondary;
    height: 100vh;
    width: 50%;
    top: 0%;
    z-index: 900;
  }
}
